######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml


# 1.Maven编译产物
ruoyi-*/target/
target/
out/

#2.前端依赖
ruoyi-ui/node_modules/
ruoyi-ui/dist/
ruoyi-ui/npm-debug.log*
ruoyi-ui/yarn-error.log*

#3.Windows独有脚本&本地配置
ry.bat
**/application-dev.yml
**/application-local.yml

#4.日志缓存
logs/
*.log
temp/
tmp/

#5.数据库备份（重点新增）
*.sql
!sql/**/*.sql
*.sqlbak
*.dump

#5.系统文件
.DS_Store
Thumbs.db