<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.scm.mapper.PurchaseApplyMapper">

    <resultMap type="com.ruoyi.scm.domain.PurchaseApply" id="PurchaseApplyResult">
        <result property="applyId"          column="apply_id"           />
        <result property="applyNo"          column="apply_no"           />
        <result property="applyType"        column="apply_type"         />
        <result property="planNo"           column="plan_no"            />
        <result property="replenishmentNo"  column="replenishment_no"   />
        <result property="applicant"        column="applicant"          />
        <result property="applyDate"        column="apply_date"         />
        <result property="applyStatus"      column="apply_status"       />
        <result property="auditor"          column="auditor"            />
        <result property="auditDate"        column="audit_date"         />
        <result property="auditStatus"      column="audit_status"       />
        <result property="auditOpinion"     column="audit_opinion"      />
        <result property="createBy"         column="create_by"          />
        <result property="createTime"       column="create_time"        />
        <result property="updateBy"         column="update_by"          />
        <result property="updateTime"       column="update_time"        />
        <result property="remark"           column="remark"             />
    </resultMap>

    <resultMap type="com.ruoyi.scm.domain.PurchaseApply" id="PurchaseApplyDetailResult" extends="PurchaseApplyResult">
        <collection property="detailList" ofType="com.ruoyi.scm.domain.PurchaseApplyDetail">
            <result property="detailId"           column="detail_id"            />
            <result property="applyId"            column="d_apply_id"           />
            <result property="seqNo"              column="seq_no"               />
            <result property="materialId"         column="material_id"          />
            <result property="materialName"       column="material_name"        />
            <result property="productModel"       column="d_product_model"      />
            <result property="productSpec"        column="d_product_spec"       />
            <result property="unit"               column="d_unit"               />
            <result property="price"              column="price"                />
            <result property="purchaseQuantity"   column="purchase_quantity"    />
            <result property="requiredQuantity"   column="required_quantity"    />
            <result property="requiredDate"       column="required_date"        />
            <result property="remark"             column="d_remark"             />
        </collection>
    </resultMap>

    <sql id="selectPurchaseApplyVo">
        select apply_id, apply_no, apply_type, plan_no, replenishment_no,
               applicant, apply_date, apply_status,
               auditor, audit_date, audit_status, audit_opinion,
               create_by, create_time, update_by, update_time, remark
        from scm_purchase_apply
    </sql>

    <select id="selectPurchaseApplyById" parameterType="Long" resultMap="PurchaseApplyDetailResult">
        select a.apply_id, a.apply_no, a.apply_type, a.plan_no, a.replenishment_no,
               a.applicant, a.apply_date, a.apply_status,
               a.auditor, a.audit_date, a.audit_status, a.audit_opinion,
               a.create_by, a.create_time, a.update_by, a.update_time, a.remark,
               d.detail_id, d.apply_id as d_apply_id, d.seq_no, d.material_id,
               d.material_name, d.product_model as d_product_model,
               d.product_spec as d_product_spec, d.unit as d_unit,
               d.price, d.purchase_quantity, d.required_quantity,
               d.required_date, d.remark as d_remark
        from scm_purchase_apply a
        left join scm_purchase_apply_detail d on a.apply_id = d.apply_id
        where a.apply_id = #{applyId}
        order by d.seq_no
    </select>

    <select id="selectPurchaseApplyList" parameterType="com.ruoyi.scm.domain.PurchaseApply" resultMap="PurchaseApplyResult">
        <include refid="selectPurchaseApplyVo"/>
        <where>
            <if test="applyNo != null and applyNo != ''">
                AND apply_no like concat('%', #{applyNo}, '%')
            </if>
            <if test="applyType != null and applyType != ''">
                AND apply_type = #{applyType}
            </if>
            <if test="planNo != null and planNo != ''">
                AND plan_no like concat('%', #{planNo}, '%')
            </if>
            <if test="applicant != null and applicant != ''">
                AND applicant like concat('%', #{applicant}, '%')
            </if>
            <if test="params.beginApplyDate != null and params.beginApplyDate != ''">
                AND apply_date &gt;= #{params.beginApplyDate}
            </if>
            <if test="params.endApplyDate != null and params.endApplyDate != ''">
                AND apply_date &lt;= #{params.endApplyDate}
            </if>
            <if test="applyStatus != null and applyStatus != ''">
                AND apply_status = #{applyStatus}
            </if>
            <if test="auditor != null and auditor != ''">
                AND auditor like concat('%', #{auditor}, '%')
            </if>
            <if test="params.beginAuditDate != null and params.beginAuditDate != ''">
                AND audit_date &gt;= #{params.beginAuditDate}
            </if>
            <if test="params.endAuditDate != null and params.endAuditDate != ''">
                AND audit_date &lt;= #{params.endAuditDate}
            </if>
            <if test="auditStatus != null and auditStatus != ''">
                AND audit_status = #{auditStatus}
            </if>
        </where>
        order by apply_id desc
    </select>

    <insert id="insertPurchaseApply" parameterType="com.ruoyi.scm.domain.PurchaseApply" useGeneratedKeys="true" keyProperty="applyId">
        insert into scm_purchase_apply (
            <if test="applyNo != null and applyNo != ''">apply_no,</if>
            <if test="applyType != null and applyType != ''">apply_type,</if>
            <if test="planNo != null and planNo != ''">plan_no,</if>
            <if test="replenishmentNo != null and replenishmentNo != ''">replenishment_no,</if>
            <if test="applicant != null and applicant != ''">applicant,</if>
            <if test="applyDate != null">apply_date,</if>
            <if test="applyStatus != null and applyStatus != ''">apply_status,</if>
            <if test="auditor != null and auditor != ''">auditor,</if>
            <if test="auditDate != null">audit_date,</if>
            <if test="auditStatus != null and auditStatus != ''">audit_status,</if>
            <if test="auditOpinion != null and auditOpinion != ''">audit_opinion,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        )values(
            <if test="applyNo != null and applyNo != ''">#{applyNo},</if>
            <if test="applyType != null and applyType != ''">#{applyType},</if>
            <if test="planNo != null and planNo != ''">#{planNo},</if>
            <if test="replenishmentNo != null and replenishmentNo != ''">#{replenishmentNo},</if>
            <if test="applicant != null and applicant != ''">#{applicant},</if>
            <if test="applyDate != null">#{applyDate},</if>
            <if test="applyStatus != null and applyStatus != ''">#{applyStatus},</if>
            <if test="auditor != null and auditor != ''">#{auditor},</if>
            <if test="auditDate != null">#{auditDate},</if>
            <if test="auditStatus != null and auditStatus != ''">#{auditStatus},</if>
            <if test="auditOpinion != null and auditOpinion != ''">#{auditOpinion},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        )
    </insert>

    <update id="updatePurchaseApply" parameterType="com.ruoyi.scm.domain.PurchaseApply">
        update scm_purchase_apply
        <set>
            <if test="applyNo != null and applyNo != ''">apply_no = #{applyNo},</if>
            <if test="applyType != null and applyType != ''">apply_type = #{applyType},</if>
            <if test="planNo != null">plan_no = #{planNo},</if>
            <if test="replenishmentNo != null">replenishment_no = #{replenishmentNo},</if>
            <if test="applicant != null">applicant = #{applicant},</if>
            <if test="applyDate != null">apply_date = #{applyDate},</if>
            <if test="applyStatus != null and applyStatus != ''">apply_status = #{applyStatus},</if>
            <if test="auditor != null">auditor = #{auditor},</if>
            <if test="auditDate != null">audit_date = #{auditDate},</if>
            <if test="auditStatus != null and auditStatus != ''">audit_status = #{auditStatus},</if>
            <if test="auditOpinion != null">audit_opinion = #{auditOpinion},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where apply_id = #{applyId}
    </update>

    <delete id="deletePurchaseApplyById" parameterType="Long">
        delete from scm_purchase_apply where apply_id = #{applyId}
    </delete>

    <delete id="deletePurchaseApplyByIds" parameterType="Long">
        delete from scm_purchase_apply where apply_id in
        <foreach item="applyId" collection="array" open="(" separator="," close=")">
            #{applyId}
        </foreach>
    </delete>

    <delete id="deleteDetailByApplyId" parameterType="Long">
        delete from scm_purchase_apply_detail where apply_id = #{applyId}
    </delete>

    <insert id="batchInsertDetail" parameterType="java.util.List">
        insert into scm_purchase_apply_detail (apply_id, seq_no, material_id, material_name, product_model, product_spec, unit, price, purchase_quantity, required_quantity, required_date, remark)
        values
        <foreach item="item" collection="list" separator=",">
            (#{item.applyId}, #{item.seqNo}, #{item.materialId}, #{item.materialName}, #{item.productModel}, #{item.productSpec}, #{item.unit}, #{item.price}, #{item.purchaseQuantity}, #{item.requiredQuantity}, #{item.requiredDate}, #{item.remark})
        </foreach>
    </insert>

</mapper>
